@import '_mixins.scss';
@import '_reset.scss';

// .header{
//   .arriba{
//     height: 40px;
//     background-color: #1f1f1f;
//     .container{
//     @include container(85%);
//       @include flex(row,nowrap,center,flex-end,center);
//       .item{
//         @include flex();
//         width: 40px;
//         height: 40px;
//         text-align: center;
//         color: #929599;
//         cursor: pointer;
//         &:hover{
//           background-color: #fff;
//           color: #333;
//         }
//       }
//
//     }
//   }
//   .abajo{
//     background-color: #282562;
//     box-shadow: 0 2px 5px #000;
//     .container{
//       @include container(85%);
//       @include flex(row,nowrap,center,space-between,center);
//
//       .logo{
//         position: relative;
//         width: 100px;
//         height: 50px;
//         transform: translateY(20px);
//         &:before{
//           content: '';
//           position: absolute;
//           left: -25px;
//           top: -23px;
//           bottom: -15px;
//           width: 80px;
//           background: #1f1f1f;
//           transform: skewX(30deg);
//         }
//         &:after{
//           content: '';
//           right: -50px;
//           position: absolute;
//           top: -23px;
//           bottom: -15px;
//           width: 80px;
//           background: #1f1f1f;
//           transform: skewX(-30deg);
//
//         }
//         .imagen{
//           @include imagen('logocentrado.png',contain);
//           position: absolute;
//           width: 110px;
//           height: 110px;
//           top: -60px;
//           z-index: 1;
//         }
//       }
//       .enlaces{
//         @include flex(row,nowrap);
//         .item{
//           @include flex(row,nowrap);
//           color: #fff;
//           padding: 0px 20px;
//           font-size: 15px;
//           font-weight: 600;
//           cursor: pointer;
//           height: 55px;
//           &:hover{
//             background-color: #fff;
//             color: #333;
//           }
//         }
//       }
//     }
//   }
// }

.menu{
  .primeraLinea{
    background-color: #1f1f1f;
    .container{
      @include container(85%);
      @include flex(row,nowrap,center,space-between);
      .imagen{
        width: 115px;
        height: 40px;
        position: relative;
        .lineas{
          position: absolute;
          width: 100%;
          &:before, &:after{
            content: '';
            position: absolute;
            height: 120px;
            width: 80px;
            top: 0px;
            bottom: 0px;
            background: #1f1f1f;
          }
          &:before{
            left: -30px;
            transform: skewX(30deg);
          }
          &:after{
            right: -30px;
            transform: skewX(-30deg);
          }
        }
        .logo{
          @include imagen('logocentrado.png',contain);
          position: absolute;
          width: 100%;
          height: 115px;
          top: 0px;
        }
      }
      .enlaces{
        @include flex(row,nowrap);
        a{
          padding: 10px;
          text-align: center;
          color: #929599;
          cursor: pointer;
          @include flex(row);
          &:hover{
            background-color: #fff;
            color: #333;
            i[data-icono]:after{
              background-color: #1f1f1f;
            }
          }
        }
      }
    }
  }
  .segundaLinea{
    background-color: #282562;
    .container{
      position: relative;
      @include container(85%);
      .enlaces{
        @include flex(row,nowrap,center,flex-end);
        a{
          @include flex(row);
          font-size: 14px;
          padding:  10px;
          text-align: center;
          color: #fff;
          cursor: pointer;
          font-weight: 600;
          text-transform: capitalize;
          &:hover{
            background-color: #fff;
            color: #1f1f1f;
            i[data-icono]:after{
              background-color: #1f1f1f;
            }
          }
          i{
            width: 20px;
            margin: 5px;
          }
        }
      }
      .bars{
        height: 50px;
        width: 50px;
        position: absolute;
        right: 0px;
        cursor: pointer;
        display: none;
        .bar{
          width: 40px;
          height: 3px;
          background-color: #fff;
          position: absolute;
          margin: auto;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          transition: ease all .5s;
          &:before,&:after{
            content: '';
            height: 3px;
            width:  40px;
            background-color: #fff;
            position: absolute;
            transition: ease all .5s;
          }
          &:before{
            top: 13px;
          }
          &:after{
            bottom: 13px;
          }
        }
      }
    }
  }
  @include tablet{
    .primeraLinea{
      .container{
        @include flex(column);
        .imagen{
          margin-top: 45px;
        }
        .enlaces{
          position: absolute;
          top: 0px;
        }
      }
    }
    .segundaLinea{
      .container{
        position: relative;
        min-height: 50px;
        .enlaces{
          height: 0px;
          overflow: hidden;
        }
        .bars{
          display: block;
            &.activo{
              .bar{
                background-color: transparent;

                &:before{
                  top: 0px;
                  transform: rotate(-45deg);
                }
                &:after{
                  bottom: 0px;
                  transform: rotate(45deg);
                }
              }
            }

        }

      }
    }
  }
}
